.service-text span {
    display: block;
    text-align: center;
    color: brown;
    font-size: 30px;
    font-style: italic;
}

.service-show {
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 20px rgb(82, 79, 79);
    text-align: center;
    border-radius: 4px;
}

.service-text {
    padding: 7px;
    padding-bottom: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.service-text p {
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(15, 14, 14);
}

#Booking-now {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px;
    background-color: brown;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', ;
    border-radius: 5px;
}